/* App.css 或全局樣式檔 */

.radix-themes {
  --default-font-family: "Ruda", sans-serif;
  --heading-font-family: "Ruda", sans-serif;
  --code-font-family: "Ruda", monospace;
  --strong-font-family: "Ruda", sans-serif;
  --em-font-family: "Ruda", serif;
  --quote-font-family: "Ruda", serif;
}

.dialog-window {
  height: 90% !important;
}
